<div id='container'>
	<div id='content'>
		<p>Enter the client's CLS URN for the Hub emails you would like to export.</p>

		 <form action = "/home/emails-export">
       <br>
       <input type="text" name="cls_urn">
       <br>
       <input type="submit" value="Export Emails">
     </form>
	</div>
</div>
