<div id="container">
  <div id="header-content"><h1>CLS Email Export Tool</h1></div>
  <div id="content">
    <h1>CLS Emails Export Tool</h1>
    <div id="steps-container">
      <p>1. Enter the CLS urn in the field below.</p>
      <p>2. Press 'Export Emails' button.</p>
      <p>3. Select a directory and save your export.</p>
      <p>4. Buy Abe a beer.</p>
      <p id="note"><strong>Note:</strong> SalesForce emails will not be exported. These values will still need to be manually exported from the CLS.</p>
      <div id="form-container">
        <form action="/home/emails-export">
          <br>
          <input type="text" name="cls_urn">
          <br>
          <input type="submit" value="Export Emails">
        </form>
      </div>
    <div>
  </div>
</div>
