/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#container {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-family: Arial;
}

#content {
	margin: 0 auto;
	padding: 20px;
	width: 70%;
	border: 0px solid black;
	border-radius: 10px;
	box-shadow: 4px 4px 10px 2px gray;
}

#steps-container {
	width: 90%;
}

p {
	font-size: 1.5em;
}

#note {
	font-size: 0.8em;
}

#form-container {
	width: 75%;
	margin: 0 auto;
}

input[type=text] {
	width: 99%;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	font-size: 1em;
}

input[type=text]:focus {
  box-shadow: 1px 1px 20px rgb(91, 148, 239);
}

input[type=submit] {
	width: 50%;
	height: 55px;
	border: 0px solid red;
	margin-left: auto;
	margin-right: auto;
	background: lightgray;
	transition: width 1s;
}

input[type=submit]:hover {
	background-color: black;
	color: white;
	cursor: pointer;
	width: 100%;
}

.alert {
	margin: 0 auto;
	font-family: Arial;
	font-weight: 200;
	padding: 10px;
	height: 20px;
	width: 20%;
	color: rgb(239, 91, 93);
}

a {
	color: rgb(91, 148, 239);
	font-size: 0.8em;
}
